.wrapper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  min-height: 75px;
  background-color: #001529;
}

.wrapper-header .container-link {
  display: flex;
  justify-content: flex-end;
}

.container-link .link {
  margin: 20px;
}

.container-link .link .link-title {
  color: #ffffff;
  font-size: 20px;
}